.card-container {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    width: 80vw;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    filter: opacity(0.9);
    color: whitesmoke;
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.4);

}

.show-details-button {
    font-size: 1.5rem;
    color: white;
    background: black;
    cursor: pointer;
    box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.4);
    margin-top: 10px;


}

.launch-img {
    width: 50%;
}

.launch-success {
    align-self: center;
    text-transform: uppercase;
}


.mission-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: auto;
    margin-left: 20px;
    align-items: center;
    margin-left: auto;
    font-size: 2.5rem;
}

@media(max-width: 540px) {
    .card-container {
        flex-wrap: wrap;
    }

    .launch-img {
        flex-basis: 100%;
    }
    
    .mission-info {
        font-size: 1.5rem;
    }
}